body {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('../assets/farm1.jpg') no-repeat center center fixed; 
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  /* overflow: hidden; */
  /* display: flex; */
  /* width: 100%; */
  /* justify-content:center; */
} 

.interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  text-align: center;
  font-size: 85px;
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  color: black;
  margin: 40px; 
  -webkit-text-stroke: 2px white;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: white;
  margin: 10px;
  -webkit-text-stroke: 2px black;
}

#start {
    text-align: center;
    font-size: 25px;
}

#timer{
    color: white;
}

.grid {
  width: 45%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('../assets/mallet2.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  top: 40px;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('../assets/carrot-300-transparent.png') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}

button {
  display: inline-block;
  background-color: #fef323;
  /* padding: 10px; */
  color: #000000;
  text-align: center;
  border: 4px double #000000;
  border-radius: 10px; 
  font-size: 28px; 
  cursor: pointer; 
}

button:hover {
  background-color: white; 
}

/* button.audio {
  display: inline-block;
  background-color: #fef323;
  padding: 0px;
  width: 20%;
  color: #000000;
  border: 4px double #000000;
  border-radius: 10px; 
  font-size: 28px; 
  cursor: pointer; 
  margin: 0px; 
  position: relative;
  top: 10px;
  left: 335px
} */

button.audio:hover {
  background-color: white;
}

.controls {
  padding: 13px;
  margin: 10px;
}

.audio {
  position: absolute; 
  right: 10px; 
  top: 10px;
}